/src/start.bat
/src/music
/src/__pycache__/*.*
/src/database/__pycache__/*.*
/src/routes/__pycache__/*.*
/src/services/__pycache__/*.*
/src/utils/__pycache__/*.*
.obsidian/
/src/resources/__pycache__
/Binarios/VisualizadorEscritorio/build/
/Binarios/VisualizadorEscritorio/dist/
/Binarios/VisualizadorEscritorio/MusicCloudServer.spec