<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PulseStream - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <h2>Iniciar sesión</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post" action="{{ url_for('auth.login') }}" id="loginForm">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" autocomplete="username" required
               oninput="this.value = this.value.toLowerCase()" placeholder="username">

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" autocomplete="current-password" required placeholder="password">

        <div class="button-group">
            <input type="submit" value="Login" class="btn">
            <button type="button" class="btn" id="registerBtn" data-url="{{ url_for('auth.register') }}">Register</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>