<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Playlists</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <h1>Mis Playlists</h1>
      <a href="/">Volver</a>
      <h2>Crear nueva playlist</h2>
      <form action="/create_playlist" method="POST">
         <input type="text" name="name" placeholder="Nombre de la playlist" required>
         <button type="submit">Crear</button>
      </form>
      <h2>Importar playlist de YouTube</h2>

      <input type="text" id="yt-url" placeholder="URL playlist YouTube">
      <button onclick="importYT()">Importar</button>
         <ul>
         {% for playlist in playlists %}
         <li class="playlist-item" data-playlist="{{ playlist.id }}">

            <div class="playlist-name-wrapper">
               <span class="playlist-name">
                  <a href="{{ url_for('playlist.view_playlist', playlist_id=playlist.id) }}">{{ playlist.name }}</a>
               </span>
            </div>

            <div class="playlist-actions">
               <input class="rename-input" type="text" style="display:none;">
               <button class="playlist-btn rename-playlist-btn" data-playlist="{{ playlist.id }}">
                  Renombrar
               </button>

               <button class="playlist-btn delete-playlist-btn" data-playlist="{{ playlist.id }}">
                  Eliminar
               </button>
            </div>

         </li>
         {% endfor %}
         </ul>

      <script src="{{ url_for('static', filename='playlists.js') }}"></script>
   </body>
</html>